<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<!--如果登录状态显示“1”显示欢迎-->
<%if(login){%>
    欢迎你：<%= username%>
<%}%>
<!--否则显示请登录-->
</body>
</html>